# Introduction to Python

- Variable
- Data Type Primary
  - Number
    - Integer
    - Float
  - String
  - Boolean
- Data Type Array (Collections of Data)
  - List
  - Tuple
  - Dictionary
  - Set
- Operation

---

Nama :  Naufal Andika Ramadhan  
Batch : HCK-012

---

In [1]:
# Run this block code
print("TEST")

# ctrl + / (command untuk jadiin read only)

# print("WORLD")

TEST

# Variable

Rules dari membuat nama variable:
- Dimulai dengan huruf
- Perhatikan plural / singular jika dalam bahasa inggris
- bisa camelCase, PascalCase, snake_case tidak kebab-case.


Buatlah 3 variable yaitu:
- variable name dan isi dengan namamu
- variable favoriteNumber isi dengan angka kesukaanmu
- variable isHungry dan isi True jika kamu lapar dann False jika kamu tidak lapar

In [8]:
# Code dibawah ini
name = "Naufal"
favoriteNumber = 7
isHungry = False

# Data Type Primary

## Data Type Number

Terdapat Integer (Bilangan Bulat) dan Float (Decimal)

In [19]:
# Latihan kode disini (Ikuti dalam kelas)
print(favoriteNumber)
print(type(favoriteNumber))
print(favoriteNumber == 100) # == equal >, more than, < less than, ! is not equal

favoriteNumber = 50 #Reassignment
favoriteNumber += 5
print (favoriteNumber)

print ("====================")
# favoriteNumber dikurangi 10%
favoriteNumber = favoriteNumber - (favoriteNumber / 10)
print (favoriteNumber)

phi = 3.14
print(round(phi, 1))

49.5
<class 'float'>
False
55
====================
49.5
3.1

## Data Type String

Peruntukannya untuk text dapat menggunakan kutip 1 atau 2 ' "

In [48]:
# Latihan kode disini (Ikuti dalam kelas)
name = 'Naufal'
print(name)
print(type(name))
print(len(name))

# name += str(4) ini kalau mau ditambah nomor setelah string
name += ' Andika'
print(name)
print(name[0])

# len itu untuk hitung total character 
# Coba tambahkan len dengan ada spasi 
print(len(name))

# Coba akses character pertama dan kedua 
print(name[0])
print(name[1])

Naufal
<class 'str'>
6
Naufal Andika
N
13
N
a

In [44]:
# Ada 2 nama boy dan girl hitung total 2 2nya (len)
boy = "adam"
girl = "hawa"

gabungan = (boy + girl)
print (len(gabungan))

8

Case sensitive

In [42]:
print(1 == '1')
print

False

## Data Type Boolean

Yaitu True dan False

In [46]:
# Latihan kode disini (Ikuti dalam kelas)
print(isHungry)
print(type(isHungry))

False
<class 'bool'>

In [50]:
print(name, isHungry, favoriteNumber)
print(f"Nama saya {name}, angka kesukaanku {favoriteNumber}. Status laparku {isHungry}")

Naufal Andika False 49.5
Nama saya Naufal Andika, angka kesukaanku 49.5. Status laparku False

# Data Type Array / Data Type For Collections of Data

Kalo w3school menyebutkannya sebagai [Python Collections (Arrays)](https://www.w3schools.com/python/python_lists.asp#:~:text=Python%20Collections%20(Arrays)).

----- note disini latihan menggunakaan markdown text yaa..

## List []

In [58]:
names = ["Bita", "Nicku", "Ogi", "Naufal"]
print(names)
print(type(names))
print(names[3])
# Jumlah value dalam list 
print(len (names))
# menghapus dan menambahkan dalam list 
names.remove("Nicku")
names.append("Panji")
print(names)
# manggil nama yang terakhir 
print(names[-1])

['Bita', 'Nicku', 'Ogi', 'Naufal']
<class 'list'>
Naufal
4
['Bita', 'Ogi', 'Naufal', 'Panji']
Panji

In [61]:
numbers = [2000, 100, 3000, 5000, 50]
print(numbers)
# Defaultnya Ascending 
numbers.sort()
print(numbers)
# kalo mau descending
numbers.sort(reverse=True)
print(numbers)

[2000, 100, 3000, 5000, 50]
[50, 100, 2000, 3000, 5000]
[5000, 3000, 2000, 100, 50]

### Pass Reference

In [63]:
listMakanan = ["Sushi", "Coklat", "Kopi"]
listMakananFavorite = listMakanan
listMakananFavorite.append("Yakult")
# keduanya berubah 
print(listMakananFavorite)
print(listMakanan)

['Sushi', 'Coklat', 'Kopi', 'Yakult']
['Sushi', 'Coklat', 'Kopi', 'Yakult']

### Cara handle pass reference

In [66]:
# dikasih function copy 
listMakananFavorite = listMakanan.copy()
listMakananFavorite.append("Susu")
print(listMakanan)
print(listMakananFavorite)

['Sushi', 'Coklat', 'Kopi', 'Yakult']
['Sushi', 'Coklat', 'Kopi', 'Yakult', 'Susu']

In [69]:
print(listMakananFavorite)
print(listMakananFavorite[1:3])
print(listMakananFavorite[:3])

['Sushi', 'Coklat', 'Kopi', 'Yakult', 'Susu']
['Coklat', 'Kopi']
['Sushi', 'Coklat', 'Kopi']

# Tuple ()

In [71]:
listInstructor = ("Ayu", "Yuda", "Riki", "Sapta", "Ayu")
print(listInstructor)

# sama seperti list tapi tidak bisa di ubah

('Ayu', 'Yuda', 'Riki', 'Sapta', 'Ayu')

# Set {}

In [73]:
listInstructor = set(listInstructor)
print(listInstructor)
#set tidak menerima duplicate

{'Riki', 'Sapta', 'Ayu', 'Yuda'}

# Dictionary {}
keyname : value

In [84]:
persianCat = {
    'name' : 'Oju',
    'age' : 2,
    'weight' : 5.5,
    'height' : 50
}
print(persianCat)
print(len(persianCat))

# akses value dengan keyname (bukan index)
print(persianCat['name'])

# menambahkan keyname dan value baru 
persianCat['isVaccined'] = True
print(persianCat)

# mengganti value 
persianCat['name'] = 'Joji'
print(persianCat)

{'name': 'Oju', 'age': 2, 'weight': 5.5, 'height': 50}
4
Oju
{'name': 'Oju', 'age': 2, 'weight': 5.5, 'height': 50, 'isVaccined': True}
{'name': 'Joji', 'age': 2, 'weight': 5.5, 'height': 50, 'isVaccined': True}

# Excercise

In [97]:
listAlphabet = [
    [0, 'Ayu', 'Bita', 'Cinta'],
    [1, 'Dian', 'Ersa', 'Fanta'],
    [2, 'G', 'H', 'I']
]

print(len(listAlphabet[1][-1]))

listHck12 = {
    "students" : ['Bita', 'Revo', 'Nicku', 'Samuel', 'Panji'],
    "buddy" : ['Ayu', 'Ayu', 'Ayu', 'Sapta', 'Sapta'],
    "scores" : [100, 100, 90, 70, 95]
}
print(listHck12['students'][1], listHck12['buddy'][1])
print(listHck12['scores'])
print(max((listHck12)["scores"]))
print(min((listHck12)["scores"]))

5
Revo Ayu
[100, 100, 90, 70, 95]
100
70